includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:
    paths:
        - app/
    # Уровень строгости: 10 — самый высокий, 5 — хорошая отправная точка
    level: 5
